<!-- movies.hbs -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie List | Lunarr</title>
    <link rel="stylesheet" href="/assets/css/movies.css" />
    <script>
      function openMovieDetails(id) { window.location.href = '/movies/' + id; }
    </script>
  </head>

  <body>
    {{render "partials/header.hbs"}}

    <div class="container">
      <div class="main-content">
        <div class="movie-container">
          {{#each movies}}
            <div class="movie-item" onclick="openMovieDetails('{{this.ID}}')">
              <div class="movie-poster">
                <img src="{{TMDbGetImageURL PosterPath}}" alt="{{Title}}" />
              </div>
              <div class="movie-details">
                <div class="movie-title">{{Title}}</div>
                <div class="movie-release">{{TMDbFormatReleaseDate ReleaseDate}}</div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </body>
</html>